.footer {
  bottom: 0;
  height: 50px;
}

.btn-dark {
  background-color: transparent;
  color: #212529;
}

@media only screen and (max-width: 500px) {
  .btn-dark {
    display: grid;
  }

  .phone {
    text-align: center !important;
  }
}
